-# 「#messages/index.html.hamld」

.wrapper.cf
  -# サイド側全体呼び出し
  = render "groups/group"

  -# 以下メッセージ全体
  .chat
    -# [_header.html.haml]メッセージヘッダー呼び出し
    = render "messages/header"

    -# メッセージメイン
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'send', class: 'form__submit'
